

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="/">
        <img src="/img/icon.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Anikuxac Bot
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/status" target="_blank">Status</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/github" target="_blank">Github</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/info" target="_blank">Info</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/discord" target="_blank">Support</a>
                </li>
              </ul>
            <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img style="border-radius: 50%;" onerror="this.src = 'https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png';" src=<%=user.avatarURL%> width="25" height="25" class="d-inline-block align-top" alt=""> <%=user.username%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <% if (req.client.owners.find(ele => ele.id === req.user.id)) { %>
                <a class="dropdown-item" href="/admin">Admin</a>
              <% } %>
              <a class="dropdown-item" href="/manage">Manage server</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/authorize/logout">Log out</a>
            </div>
        </li>
      </ul>
    </div>
    </div>
  </nav>
